header{
    font-weight: bold;
    font-size: 50px;
    background-color: red;
}
img{
    float: right;
    

}
p{
    font-size: 20px;
    
}
footer{
    background-color: yellow;
    float: right;
}

 

nav{
    background-color: green;
    padding: 20px;
}
header ul{
    display: flex;
    justify-content: space-evenly;
    margin: 0px;
    list-style: none;
    flex-direction: row;
}

li{
    display: list-item;
    text-align:-webkit-match-parent;
    flex-direction: row;
}

header a {
    text-decoration: none;
    color: white;
    border: 1px solid white;
    border-radius: 15px;
    padding: 5px 15px;
}

header a:hover {
    background-color: white;
    color: black;
}
 