.grid{
    display: grid;
    grid-template-areas:"header  header header" " nav section aside " " footer footer footer" ;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px 200px 100px;
}

header{
    grid-area: header;
    

}
img{
    float: right;
    width: 160px;
    height: 150px;
}
nav{
    grid-area: nav;
    background-color: rgb(66, 63, 57);
}
section{
    grid-area: section;
    
}
aside{
    grid-area: aside;
    background-color: rgba(255, 0, 242, 0.562);
}

footer{
    grid-area: footer;
    background-color: rgba(247, 0, 255, 0.747);
}